<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Module 1 Solution</title>
    <script src="angular.js"></script>
    <script src="myApp.js"></script>
</head>
<body ng-app="LunchCheck"> 
    <div ng-controller="LunchCheckController">
        <p><h2>Lunch Checker</h2></p>
        <input type="text" ng-style="myTextboxStyle" ng-model="inputitems"/><br/>
        <input type="button" value="Check If Too Much" ng-click="checkItems()"/><br />
        <span ng-style="myColor">{{message}}</span>
    </div>
</body>
</html>